* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1.2rem "Comic Sans MS", 'Comic Sans';
    background: #fff;
    color: #222;
    transition: background .3s, color .3s;
}

input, button{
    outline: none;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 1vh 2vw;
    font-weight: 500;
    cursor: pointer;
    background: transparent;
    transition: background .2s, color .2s;
}

button:hover {
    color: #fff;
    background: #222;
}
