.chat-container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
display: flex;
flex-direction: column;
color: blue;
background: #eee;
/* height: 100vh; */
}
.clear-btn {

}
.recovery-btn {

}
.chat-type {

}
.recipient-input{

}
.messages{

}
.message {

}
.input-area {

}
.text-input {

}
.file-input {

}
.input {
  width: 70%;
}
.btn {

width: 30%;
}
.top_btn-group {
  display: flex;
  flex-direction: row;
justify-content: right;  
}