.video-chat-container {
display: grid;
grid-template-columns: 1fr;
text-align: center;

}

.video-controls{
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.incoming-call-banner {

}

.video-container {
display: grid;
grid-template-columns: auto auto;
}

.local_video,
.remote_video {
    width: 45vw;
    border: 1px solid #222;
    margin-bottom: 5vh;
}


body.dark-mode .video-chat-container {
  background: #222;
  color: #eee;
}