.video-chat-container {
display: grid;
grid-template-columns: 1fr;
/* align-items: center; */
text-align: center;

}

.incoming-call-banner {

}

.video-container {
display: grid;
grid-template-columns: auto auto;
}

.local-video,
.remote-video {
    /* width: 100vw; */
}


body.dark-mode .video-chat-container {
  background: #222;
  color: #eee;
}